{% extends 'base.html.twig' %}

{% block title %}
	Iniciar Sesion
{% endblock %}

{% block body %}

	{% block nav %}
		{{parent()}}
	{% endblock %}
	<div class="text">
		<div class="contenedorGrande text-center">
			<h1>Inicio de sesión</h1>
			<div class="row">
				<div class="text-center">
					<div class="bg-light mt-3 p-4">
						<form method="post">
							<div class="contenedorPeque">
								{% if error != null %}
									<span class="text-danger">
										{{error}}
									</span>
								{% endif %}
								<div class="p-2">
									<label for="inputUsername">Nombre de Usuario:</label>
									<input type="text" name="nombreUsuario" id="inputUsername" class="form-control" value="{{ last_username }}">
								</div>

								<div class="p-2">
									<label for="inputPassword">Contraseña:</label>
									<input type="password" name="contra" id="inputPassword" class="form-control">
								</div>

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<div class="p-2">
									<button class="btn btn-lg btn-primary align-self-center" type="submit">
										Iniciar Sesion
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% block footer %}
				{{parent() }}
			{% endblock %}
		{% endblock %}
