{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% block nav %}
		{{ parent() }}
	{% endblock %}
	<div class="text">
		<div class="contenedorG text-center">
			<h1>Registro</h1>
			<div class="contenedorP">
				{% if error != null %}
					<span class="text-danger">
						{{error}}
					</span>
				{% endif %}
				<div class="row">
					<div class="text-center">
						<div class="bg-light mt-3 p-4">
							{{ form_start(registrationForm) }}
							{{ form_row(registrationForm.username)}}
							{{ form_row(registrationForm.password)}}
							{{ form_row(registrationForm.plainPassword)}}

							<button type="submit" class="bg-primary btn align-self-center">Registrar</button>
							{{ form_end(registrationForm) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% block footer %}
		{{ parent()}}
	{% endblock %}
{% endblock %}
