{% extends "base.html.twig" %}

{% block body %}
	{% block nav %}
		{{parent()}}
	{% endblock %}

	{% block text %}
		<section class="container p-4">
			<h1 class="card-title text-center">{{videojuego.titulo}}
			</h1>
			<div class="card m-2">
				<div class="row border border-black">
					<div class="col-md-7 px-3">
						<div class="card-block px-6">
							<div class="card-text">
								<p>
									<h5>Directores:</h5>
									{% for director in videojuego.director %}
										<li class="datos">
											{{director}}.
										</li>
									{% endfor %}
								</p>

								<p>
									<h5>Géneros:</h5>
									{% for genero in videojuego.genero %}
										<li class="datos">
											{{genero}}.
										</li>
									{% endfor %}
								</p>

								<p>
									<h5>Plataformas:</h5>
									{% for plataforma in videojuego.plataforma %}
										<li class="datos">
											{{plataforma}}.
										</li>
									{% endfor %}

								</p>

								<p>
									<h5>Año de publicación:</h5>
									<li class="datos">{{videojuego.fechaPublicacion}}</li>
								</p>

								<p>
									<h5>Empresas desarrolladoras:</h5>
									{% for desarrolladora in videojuego.empresaDesarrolladora %}
										<li class="datos">
											{{desarrolladora}}.
										</li>
									{% endfor %}
								</p>

								{% if videojuego.descripcion != null %}
									<p>
										<h5>Descripción:</h5>
										<li class="datos">{{videojuego.descripcion}}</li>
									</p>
								{% endif %}

								{% if usuario != null %}
									{% if mensaje != null %}
										<p class="datos">
											{{mensaje}}
										</p>
									{% else %}
										<p class="card-text">
											<a href="#" class="mt-auto btn btn-primary">Añadir a la lista</a>
										</p>
									{% endif %}

								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-md-5 text-end">
						<img src="{{asset('fotos/vertical/'~videojuego.slug~'v2.jpeg')}}" alt="{{asset('fotos/'~videojuego.slug~'v2.jpeg')}}" class="img-fluid">
					</div>
				</div>
			</div>

			{% if usuario != null %}
				<div class="mb-5 mt-5">
					<h2 class="card-title text-center">Comentarios</h2>
					<div class="card p-3">
						{% for comentario in comentarios %}
							<p class="datos">
								<span class="text-capitalize">{{comentario.usuario}}</span><br>
								{{comentario.comentario}}
							</p>
						{% endfor %}
					</div>
				</div>

			{% endif %}

		</section>
	{% endblock %}
	{% block footer %}
		{{parent()}}
	{% endblock %}
{% endblock %}
