{% extends 'perfil/index.html.twig' %}

{% block title %}videojuegos{% endblock %}

{% block body %}
    {% block nav %}{{ parent() }}{% endblock %}

    <a href="{{ path('app_perfil') }}">volver al perfil</a>

    <div>
        <h2 class="text-center text-secondary"> Videojuegos</h2>
        <div class="row">
            {% for juego in videojuego %}
                <div class="col col-md-4">
                    <div class="contenedor_videojuegos text-center">
                        <span>
                            Titulo:
                            <a href="{{ path('app_videojuego', {slug: juego.slug}) }}">{{ juego.titulo }}</a><br>
                        </span>

                        <span>
                            Temas:
                            {% for temas in juego.tema %}
                                {{ temas }}
                            {% endfor %}
                        </span>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
