{% extends "base.html.twig" %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('prueba/juego.css')}}">
{% endblock %}

{% block body %}
	{% block nav %}
		{{parent()}}
	{% endblock %}

	{% block text %}
		<section class="container p-4">
			<h1 class="card-title text-center">{{videojuego.titulo}}
			</h1>
			<div class="card m-2">
				<div class="row border border-black">
					<div class="col-md-7 px-3">
						<div class="card-block px-6">
							<div class="card-text">
								<p>
									<h5>Directores:</h5>
									{% if directores != null %}
										{% for director in directores %}
											<li class="datos">
												{{director}}.
											</li>
										{% endfor %}
									{% else %}
										<li class="datos">
											No hay datos del los directores.
										</li>
									{% endif %}
								</p>

								<p>
									<h5>Géneros:</h5>
									{% if generos != null %}
										{% for genero in generos %}
											<li class="datos">
												{{genero}}.
											</li>
										{% endfor %}
									{% else %}
										<li class="datos">
											No hay datos de los generos.
										</li>
									{% endif %}
								</p>

								<p>
									<h5>Plataformas:</h5>
									{% if plataformas != null %}
										{% for plataforma in plataformas %}
											<li class="datos">
												{{plataforma}}.
											</li>
										{% endfor %}
									{% else %}
										<li class="datos">
											No hay datos de las plataformas
										</li>
									{% endif %}

								</p>

								<p>
									<h5>Año de publicación:</h5>
									<li class="datos">{{videojuego.fechaPublicacion}}</li>
								</p>

								<p>
									<h5>Empresas desarrolladoras:</h5>
									{% if desarrolladoras != null %}

										{% for desarrolladora in desarrolladoras %}
											<li class="datos">
												{{desarrolladora}}.
											</li>
										{% endfor %}
									{% else %}
										<li class="datos">
											No hay datos de las desarrolladoras
										</li>
									{% endif %}
								</p>

								{% if videojuego.descripcion != null %}
									<p>
										<h5>Descripción:</h5>
										<li class="datos">{{videojuego.descripcion}}</li>
									</p>
								{% endif %}

								{% if usuario != null %}
									{% if mensaje != null %}
										<p class="datos">
											{{mensaje}}
										</p>
										<a href="{{path('app_perfil')}}" class="btn btn-primary">Back to perfil</a>
									{% else %}
										<p class="card-text">
											<a href="{{path('app_videojuego_juego_añadir', {slug: videojuego.slug})}}" class="mt-auto btn btn-primary">Añadir a la lista</a>
										</p>
									{% endif %}

								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-md-5 text-end">
						<img src="{{asset('fotos/vertical/'~videojuego.slug~'v2.jpeg')}}" alt="{{asset('fotos/'~videojuego.slug~'v2.jpeg')}}" class="img-fluid">
					</div>
				</div>
			</div>

			{% if usuario != null %}
				<div class="mb-5 mt-5">
					<h2 class="card-title text-center">Comentarios</h2>
					<div class="card p-3">
						{% if comentarios != null %}
							{% for comentario in comentarios %}
								<p class="datos">
									<span class="text-capitalize">{{comentario.usuario}}:</span><br>
									{{comentario.comentario}}.
								</p>
							{% endfor %}
						{% else %}
							<span class="text-center datos">Aun no hay comentarios.</span>
						{% endif %}
					</div>
				</div>

			{% endif %}

		</section>
	{% endblock %}
	{% block footer %}
		{{parent()}}
	{% endblock %}
{% endblock %}
