{% extends 'perfil/index.html.twig' %}

{% block body %}
    {% block nav %}{{ parent() }}{% endblock %}
    <div class="contenedor_juego">
        <div class="row">
            <div class="card bg-secondary container-fluid">
                <div class="card-body bg-secondary">
                    <h2 class="card-title text-center">{{ videojuego.titulo }}</h2>
                    <br>
                    <div class="izquerda d-inline">
                        <h3 class="card-subtitle ">
                            Autores:
                            {% for autor in videojuego.autor %}
                                {{ autor }} |
                            {% endfor %}
                        </h3>
                        <br>

                        <h3 class="card-subtitle ">
                            Géneros:
                            {% for genero in videojuego.tema %}
                                {{ genero }} |
                            {% endfor %}
                        </h3>
                        <br>

                        <h3 class="card-subtitle ">Año de publicación: {{ videojuego.fechaPublicacion }}</h3>
                        <br>

                        <h3 class="card-subtitle ">
                            Empresa desarrolladora:
                            {% for desarrollador in videojuego.desarrollador %}
                                {{ desarrollador }} |
                            {% endfor %}
                        </h3>
                        {% if videojuego.descripcion != null %}
                            <br>
                            <p class="card-subtitle">Descripción: {{ videojuego.descripcion }}</p>
                        {% endif %}
                    </div>
                    <div class="derecha d-inline container-fluid">
                        <img class="imagen" src="{{ asset('fotos/'~ foto ~ '.jpeg') }}"><br>
                        <a href="{{ path('app_annadir_lista', { slug:videojuego.slug}) }}">
                            añadir a la lista
                        </a>
                    </div>
                </div>

                <!-- <a href="{{ path('app_videojuegos') }}">volver a buscar videojuegos</a>-->
            </div>
            <div class="comentario">
                <!--<h2 class="text-center">Comentarios</h2>-->
            </div>
        </div>
    </div>
{% endblock %}
