{% extends 'base.html.twig' %}

{% block body %}
	{% block nav %}
		{{ parent() }}
	{% endblock %}

	<div class="d-flex flex-column card p-2">
		<div class="p-2 card-body bg-secondary">
			<h2 class="text-center card-title">{{videojuego.titulo}}</h2>
			<div class="m-5">
				{% if autores != null %}
					<h4>Autores:</h4>
					{% for autor in autores %}
						<ul>
							<li>{{autor}}</li>
						</ul>
					{% endfor %}
				{% else %}
					<span>no hay autores.</span>
				{% endif %}

				{% if generos != null %}
					<h4>Géneros:</h4>
					{% for genero in generos %}
						<ul>
							<li>{{genero}}</li>
						</ul>
					{% endfor %}
				{% else %}
					<span>no hay géneros.</span>
				{% endif %}

				<h4>Año de publicación:</h4>
				<ul>
					<li>{{videojuego.fechaPublicacion}}</li>
				</ul>

				{% if desarrolladores != null %}
					<h4>Empresa desarrolladora:</h4>
					{% for desarrollador in desarrolladores %}
						<ul>
							<li>{{desarrollador}}</li>
						</ul>
					{% endfor %}
				{% else %}
					<span>no hay desarrolladores.</span>
				{% endif %}

				{% if videojuego.descripcion != null %}
					<h4>Descripcion:</h4>
					<ul>
						<li>{{videojuego.descripcion}}</li>
					</ul>
				{% endif %}

				<a class="btn btn-primary" href="{{path('app_annadir_a_lista',{videojuego: videojuego})}}">
					añadir a la lista</a>
			</div>
		</div>
	</div>

	{% block footer %}
		{{parent() }}
	{% endblock %}
{% endblock %}
