{% extends "base.html.twig" %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('prueba/videojuegos.css')}}">
{% endblock %}

{% block javascript %}
	{{parent()}}
	<script src="{{asset('prueba/videojuegos.js')}}"></script>
	<!--<script src="{{asset('prueba/videojuegosv2.js')}}"></script>-->
{% endblock %}

{% block body %}

	{% block nav %}
		{{ parent() }}
	{% endblock %}

	{% block text %}
		<section class="py-5 bg-secondary">
			<div class="text-end m-3">
				<h2 class="text-center">Videojuegos</h2>
				<button type="button" class="btn-dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" area-expanded="false" id="filtrar">
					Filtrar por:
				</button>
				<div class="dropdown-menu" aria-labelledby="filtrar">
					{% for genero in generos %}
						<form method="post">
							<a class="text-secondary" href="{{path('app_videojuegos_genero', {genero: genero})}}">{{genero}}</a><br>
						</form>
					{% endfor %}
				</div>
			</div>
			<div class="container px-4 px-lg-5 mt-5">
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					{% for videojuego in videojuegos %}
						<div class="col mb-5">
							<div class="card h-100">
								<img class="card-img-top imagen" src="{{asset('fotos/horizontal/'~videojuego.slug~'.jpeg')}}" alt="videojuego foto"/>
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder">{{videojuego.titulo}}</h5>
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center">
										<a class="btn btn-outline-dark mt-auto" href="{{ path('app_juego', {slug: videojuego.slug}) }}">Ver juego</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="text-center p-4">
					<a href="{{path('app_videojuegos')}}" class="btn btn-primary">Volver a todos los juegos</a>
				</div>
			</section>
		{% endblock %}

		{% block footer %}
			{{parent()}}
		{% endblock %}
	{% endblock %}
