{% extends "base.html.twig" %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{asset('prueba/perfil.css')}}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset('prueba/perfil.js')}}"></script>
{% endblock %}

{% block body %}
	{% block nav %}
		{{parent()}}
	{% endblock %}
	{% block text %}
		<div class="m-3 p-3">
			<div class="card-title">
				<h1 class="text-center text-secondary">Perfil</h1>
			</div>
			<div class="card-body mb-5">
				<div class="row">
					{% if listado != null %}

						<table class="table table-bordered table-responsive table-border rounded tabla">
							<caption>¿Quieres añadir algún juego más?<br>
								<a class="btn btn-primary" href="{{path('app_videojuegos')}}">Buscar videojuegos</a>
							</caption>
							<thead>
								<tr class="text-center">
									<th>#</th>
									<th>TÍTULO</th>
									<th>COMENTARIO</th>
									<th>OPCIONES</th>
								</tr>
							</thead>
							<tbody>
								{% for index, lista in listado %}
									<tr>
										<th class="text-center" scope="row">{{index ++1}}</th>
										<td class="text-center">{{lista.videojuego.titulo}}</td>

										{% if lista.comentario != null %}
											<td class="text-center">{{lista.Comentario}}.</td>

										{% else %}
											<td class="text-center">no hay comentario todavía.</td>
										{% endif %}

										<td class="text-center">
											<a href="{{path('app_juego',{slug: lista.videojuego.slug})}}" class="btn btn-success mb-1">
												<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
													<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
												</svg>
											</a>
											{% if lista.comentario == null %}
												<a href="{{path('app_perfil_añadir_comentario',{lista: lista})}}" class="btn btn-primary mb-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send-plus" viewbox="0 0 16 16">
														<path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"/>
														<path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
													</svg>
												</a>
											{% else %}
												<a href="{{path('app_perfil_modificar_comentario',{lista: lista})}}" class="btn btn-info mb-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send-exclamation" viewbox="0 0 16 16">
														<path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"/>
														<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
													</svg>
												</a>
												<a href="{{path('app_perfil_eliminar_comentario', {lista: lista})}}" class="btn btn-dark mb-1">
													<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send-x" viewbox="0 0 16 16">
														<path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"/>
														<path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-4.854-1.354a.5.5 0 0 0 0 .708l.647.646-.647.646a.5.5 0 0 0 .708.708l.646-.647.646.647a.5.5 0 0 0 .708-.708l-.647-.646.647-.646a.5.5 0 0 0-.708-.708l-.646.647-.646-.647a.5.5 0 0 0-.708 0Z"/>
													</svg>
												</a>
											{% endif %}
											<a href="{{path('app_perfil_elminar', {lista: lista})}}" class="btn btn-danger mb-1">
												<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
													<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
													<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
												</svg>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<div>
							<h3>
								No hay juegos en la lista</h3>
							<p>¿Quieres añadir juegos?</p>
							<a href="{{path('app_videojuegos')}}" class="btn btn-primary">Añadir Juego</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>

	{% endblock %}
	{% block footer %}
		{{parent()}}
	{% endblock %}
{% endblock %}
