{% extends 'base.html.twig' %}

{% block title %}
	perfil
	{{ nombre }}
{% endblock %}

{% block body %}

	{% block nav %}
		{{ parent() }}
	{% endblock %}

	{% block text %}
		<div class="text p-3">
			<h2 class="text-center p-2">Tus Juegos</h2>
			{% if listado != null %}
				<div class="table-responsive">
					<table class="table table-hover border border-dark">
						<thead>
							<tr>
								<td></td>
								<td class="text-center">
									<strong>Título</strong>
								</td>
								<td class="text-center">
									<strong>Comentarios</strong>
								</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							{% for indice, lista in listado %}
								<tr>
									<td>
										<strong class="p-2">{{indice ++1}}</strong>
									</td>
									<td class="text-center">
										<a class="link-dark p-2" href="{{path('app_videojuego', {videojuego: lista.videojuego.id})}}">{{lista.videojuego.titulo}}</a>
									</td>
									<td class="text-center">
										{% if lista.comentario != null %}
											{{lista.comentario}}
										{% else %}
											<form action="{{path('app_comentario')}}" method="POST" class="p-2 d-inline">
												<input type="text" name="comentario" id="inputComentario" placeholder="añadir comentario">
												<input type="hidden" value="{{lista.videojuego}}" name="videojuego" id="videojuego">
												<button class="btn btn-primary" type="submit">enviar comentario</button>
											</form>
										{% endif %}
									</td>
									<td class="text-end">
										<a class="btn btn-secondary p-1" href="{{path('app_remover_juego_lista', {lista: lista.id})}}">remover de la lista</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<p>¿Quieres añadir más videojuegos?
				</p>
				<a class="btn btn-primary" href="{{ path ('app_videojuegos') }}">Pulse aquí</a>
			{% else %}
				<h3>Aun no hay juegos en la lista.</h3>
				<p>¿Quieres añadir un juego?</p>
				<a class="btn btn-primary" href="{{ path ('app_videojuegos') }}">pulsa aquí</a>
			{% endif %}
		</div>
	{% endblock %}
	{% block footer %}
		{{parent()}}
	{% endblock %}
{% endblock %}
